 

<form action="/Produto/Adiciona" method="post">
    @Html.AntiForgeryToken()
            <span style="color: red">@Html.ValidationMessage("produto.Invalido")</span><br/>

            <label for="nome">nome</label>
            <input id="nome" name="produto.Nome" value="@ViewBag.produto.Nome" class="form-control"/>
            <span style="color: red">@Html.ValidationMessage("produto.Nome")</span><br/>

            <label for="preco">preço</label>
            <input id="preco" name="produto.Preco" value="@ViewBag.produto.Preco" class="form-control"/>
            <span style="color: red">@Html.ValidationMessage("produto.Preco")</span><br/>

            <label for="quantidade">Quantidade</label>
            <input id="quantidade" name="produto.Quantidade" value="@ViewBag.produto.Quantidade" class="form-control"/>
            <span style="color: red">@Html.ValidationMessage("produto.Quantidade")</span><br/>

            <label for="descricao">Descricao</label>
            <input id="descricao" name="produto.Descricao" value="@ViewBag.produto.Descricao" class="form-control"/>
            <span style="color: red">@Html.ValidationMessage("produto.Descricao")</span><br/>

            <label for="categoria">Categoria</label>
            <select id="categoria" name="produto.CategoriaId" class="form-control">
                @foreach (var item in ViewBag.Categorias)
                {
                    <option value="@item.Id" selected="@item.Id.Equals(ViewBag.produto.CategoriaId)">@item.Nome</option>
                }

            </select> <br />
            <span style="color: red">@Html.ValidationMessage("produto.Categoria")</span></br>
            <input type="submit" value="Cadastrar"/>


</form>
        