
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8"/>
    <title>Form</title>
</head>
<body>
    <div> 
        <form action="/Produto/Adiciona" method="post">
            <span style="color: red">@Html.ValidationMessage("produto.Invalido")</span><br />

            <label for="nome">nome</label><br/>
            <input id="nome" name="produto.Nome" value="@ViewBag.produto.Nome"/><br />
            <span style="color: red">@Html.ValidationMessage("produto.Nome")</span><br />

            <label for="preco">preço</label><br />
            <input id="preco" name="produto.Preco" value="@ViewBag.produto.Preco"/><br />
            <span style="color: red">@Html.ValidationMessage("produto.Preco")</span><br />

            <label for="quantidade">Quantidade</label><br />
            <input id="quantidade" name="produto.Quantidade" value="@ViewBag.produto.Quantidade"/><br />
            <span style="color: red">@Html.ValidationMessage("produto.Quantidade")</span><br />

            <label for="descricao">Descricao</label><br />
            <input id="descricao" name="produto.Descricao" value="@ViewBag.produto.Descricao"/><br />
            <span style="color: red">@Html.ValidationMessage("produto.Descricao")</span><br />

            <label for="categoria">Categoria</label><br />
            <select id="categoria" name="produto.CategoriaId">
                @foreach (var item in ViewBag.Categorias)
                {
                    <option value="@item.Id" selected="@item.Id.Equals(ViewBag.produto.CategoriaId)">@item.Nome</option>
                }

            </select> <br />
            <span style="color: red">@Html.ValidationMessage("produto.Categoria")</span><br /><br />
            <input type="submit" value="Cadastrar" />


</form>
    </div>
</body>
</html>
