    @model IList<CaelumEstoque.Models.Produto>


        <table class="table table-hover">
            <thead>
                <tr>
                    <th> id </th>
                    <th> nome </th>
                    <th> quantidade </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td> @Html.RouteLink(item.Nome, "VizualizaProduto", new {id = item.Id })</td>
                        <td id="quantidade@(item.Id)">@item.Quantidade</td>
                        <td> <a href="#" onclick="decrementa(@item.Id)">decrementar</a></td>
                    </tr>
                }
                
            </tbody>
        </table> 
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    function decrementa(produtoId){
        var url = "@Url.Action("DecrementaQtd", "Produto")";
        $.post(url, {id: produtoId}, atualiza)
        
    }

    function atualiza(resposta){
        var elemento = $("#quantidade"+resposta.Id);
        elemento.html(resposta.Quantidade);
    }
</script>